.footerlist{
    list-style-type: square;
    color: white;
}

.footerlinks{
    text-decoration: none;
    color: white;
}

.footerlinks:hover{
    color: white;
}


#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }

  .medlinks{
      text-decoration: none;
      color: #252e6b;
  }

  .medlinks a:hover{
      color: #252e6b;
  }



  .medcard{
      border: none;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .medcard:hover{
      border: 3px solid #252e6b;
      /* padding: 10px; */
  }
  .card-img-top{
      object-fit:fill;
      height: 15vw;
      width: 100%;
  }

  .enqform{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }